body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.chaff {
    display: flex;
    max-width: 900px;
    padding: 40px;
}

.velila {
    flex: 1;
    margin-right: 80;
    margin-bottom: 20px;

}

.velila h1 {
    font-size: 48px;
    font-weight: 700;
    color: #1877f2;
    /* Facebook blue */
    margin: 0 0 20px 0;

}

.velila p {
    font-size: 22px;
    color: #1c1e21;
    max-width: 400px;
}

.erie {
    flex: 1;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0 0 0 / 0.15);
    border-radius: 8px;
    padding: 20px;
    background-color: white;
}

.dacillo {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
}

.tagalog1 {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2c5;
    border-radius: 6px;
    font-size: 16px;
    padding-right: 0px;

}

.danosos {
    background-color: #165cdb;
    width: 100%;
    color: white;
    border: none;
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 24px;
}

.danosos:hover {
    background-color: #144dbf;
}

.jimkurt {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    text-align: center;
}

.jimkurt:hover {
    text-decoration: underline;
}

.tagalog {
    width: 10%;
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 24px;
}

.tagalog:hover {
    background-color: #36a420;
}

.ako {
    position: absolute;
    top: 580px;
    left: 1005px;
    margin-top: 18px;
    font-size: 14px;
    color: black;

}

.ako1 {
    position: absolute;
    top: 580px;
    left: 910px;
    margin-top: 18px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
