body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    max-width: 900px;
    padding: 40px;
    
}